**/.vscode
**/.idea
**/.vs
**/build/*
**/build-*/*
**/build_*/*
**/*img
**/.swp
**/*.zip
**/*.pdf
**/release/*

**/*.o
**/*.dll
**/*.lib
**/*.obj
**/*.bin
**/*.exe
**/*.exp

**/*-test.c

**/victim/*

!**/experiment04.exe
